.aboutSection {
	display: flex;
}

.aboutHeading {
	// position: relative;
	display: flex;
}

.aboutHeading p .fa {
	position: relative;
	top: 25px;
	padding-right: 15px;
	z-index: -1;
}

.aboutContentWrapper {
	padding: 0 15px;
}

.aboutContentWrapper:first-child {
	padding-left: 0
}

.aboutContentWrapper:last-child {
	padding-right: 0
}