.aboutSection {
	display: flex;
	width: 100%;
}

.aboutHeading {
	display: flex;
}

.aboutHeading p .fa {
	position: relative;
	top: 25px;
	padding-right: 15px;
	z-index: -1;
}

.aboutContentWrapper {
	padding: 0 10px;
	width: 33.33%;
}

.aboutContentWrapper:first-child, .aboutContentWrapper:last-child {
	padding: 0 10px;
}