.homeTitle {
	position: absolute;
	top: 16%;
	left: calc(50% - 281.5px);
	z-index: 1000;
}

.fullTitle {
	position: relative;
	.lettering {
	// color: rgba(0, 0, 0, 0.75);
	color: rgba(107, 11, 65, 0.85);
	font-weight: 400;
	position: relative;
	}
}

.word4 .char2, .word4 .char3, .word4 .char4, .word4 .char5, .word4 .char6 {
	position: absolute;
	left: 0;
}

.word4 .char2 {
	top: 45px;
}

.word4 .char3 {
	top: 91px;
}

.word4 .char4 {
	top: 136px;
}

.word4 .char5 {
	top: 180px;
}

.word4 .char6 {
	top: 224px;
}

.word5, .word6 {
	position: relative;
	top: 224px;
	left: -5px;
}

.homeLogoA {
	background: rgba(255, 255, 255, 0.7);
	// transition: all 0.35s;
	// &:hover {
	// 	color: rgba(5, 247, 206, 1);
	// 	background: rgba(255, 255, 255, 0.7);
	// }
}

.homeLogoB {
	font-weight: 400;
	left: 47%;
	color: rgba(255, 255, 255, 0.9);
	background: rgba(5, 247, 206, 0.6);
	// transition: all 0.35s;
	// &:hover {
	// 	color: rgba(255, 255, 255, 1);
	// 	background: rgba(5, 247, 206, 0.6);
	// }
}

.scrollBottom {
	position: absolute;
     top: 21%;
     left: calc(50% - 25.289px);
     font-size: 2rem;
}