.mainNav {
	display: flex;
	justify-content: flex-end;
	// align-items: center;
	z-index: 100;
	padding-right: 50px;
	width: 50%;
	 ul.menu {
	 	// width: 100%;
	 	// display: flex;
	 	// justify-content: flex-end;
	 	// margin: 0;
	 	// padding: 0;
		li {
			display: inline;
			// margin-right: 10px;
			a {
			// background: none;
			display: inline-block;
			padding: 10px;
			color: rgba(255, 255, 255, 0.85);
			transition: all 0.35s;
			&:after {
				content: '';
				display: block;
				height: 2px;
				width: 0;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}
			&:hover:after {
				width: 90%;
				background: rgba(5, 247, 206, 1);
				}
			}
		}
	}
}

.mainNav li:after {
  content: "// ";
  position: relative;
  left: 5px;
  color: rgba(255,255,255,.85);
}

.mainNav li:last-child:after {
	content:" ";
}

.fixed-header {
    position: fixed;
    top: 0;
    // left: 0;
    width: 100%;
}