// rgba(5, 43, 99, 0.9)
// rgba(230, 61, 10, 0.9)
// rgba(16, 0, 29, 0.9)
// rgba(65, 18, 88, 0.9)
// rgba(5, 247, 206, 0.9)
// rgba(255, 98, 0, 0.85)

h1, h2, h3, h4, h5, a, footer p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 4.7rem;
	color: rgba(5, 247, 206, 0.75);
	position: absolute;
	left: 78%;
	top: 43%;
	text-transform: lowercase;
}

h2 {
	position: relative;
	font-size: 3rem;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.75);
}

p {
	font-family: 'Gudea', sans-serif;
	font-weight: 300;
}

#about, #work, #contact {
	&:after {
	  content: "";
	  position: absolute;
	  background: rgba(5, 247, 206, 0.75);
	  left: 10%;
	  right: 13%;
	  height: 2px;	
	  bottom: -10px;
	}
}

h3 {
	font-size: 2.2rem;
}

p {
	font-size: 1.1rem;
}

header, footer {
	background: rgba(0, 0, 0, 0.85);
}

a {
	text-decoration: none;
	// color: rgba(255, 255, 255, 0.9);
}

.containerWrapper h1 {
	position: absolute;
	top: 3%;
	left: 35%;
}

header .container h2, header .container a {
	color: rgba(255, 255, 255, 0.9);
}

// a {
// 	color: #BA209B;
// 	text-decoration: none;
// 	&:hover {
// 		color: #D424B1;
// 	}
// }

/* paragraphs */

p {
	line-height: 1.5;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}